.wall{
  background-image: url(../img/milky_way.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 2em;
  font-family: 'Exo 2', sans-serif;
}
.title{
  background-color: #90EE90;
  border: 5px solid black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 6vh;
}
.contact{
  background-color: #90EE90;
  border: 5px solid black;
  text-align: center;
  margin: 10px;
  padding: 25px;
  font-size: 4vh;
}
.window{
  background-color: #90EE90;
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
}

#btnUp{
  position: fixed;
  bottom: 15px;
  right: 25px;
  cursor: pointer;
  display: none;
}

#menu, #menu ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
#menu li{
  display: inline-block;
  position: relative;
  border-radius: 8px;

  background-color: DodgerBlue;
  background-image:-webkit-linear-gradient(top, DodgerBlue 0%, #2A2333 100%);
  background-image:linear-gradient(to bottom, DodgerBlue 0%, #2A2333 100%);
}
#menu ul li{
  display: inherit;
  border-radius: 0;
}
#menu ul li:first-child{
  border-radius: 8px 8px 0 0;
}
#menu ul li:last-child{
  border-radius: 0 0 8px 8px;
}
#menu ul{
  position: absolute;
  z-index: 1000;
  max-height:0;
  left: 0;
  right: 0;
  overflow:hidden;
  -moz-transition: .8s all .3s;
  -webkit-transition: .8s all .3s;
  transition: .8s all .3s;
}
#menu li:hover ul{
  max-height:15em;
}
#menu li li{
background:#2A2333;
text-align: left;
padding-left: 6px;
}
#menu li:hover, #menu li li:hover{
background:DodgerBlue;
}
#menu a{
  text-decoration: none;
  display: block;
  padding:8px 32px;
  color:#fff;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#fff;
}
#menu li:hover a, #menu li li:hover a{
color:#000;
}
